{% extends 'base.html' %}

{% block content %}
<h1>Tambah Data Siswa</h1>
<form method="POST" action="{{ url_for('add_student_view') }}">
    <div class="mb-3">
        <label for="name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="class" class="form-label">Kelas</label>
        <input type="text" class="form-control" id="class" name="class" required>
    </div>
    <div class="mb-3">
        <label for="nis" class="form-label">NIS</label>
        <input type="text" class="form-control" id="nis" name="nis" required>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>
{% endblock %}
